<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/alligator-21.07.tar.xz">alligator-21.07</a></td>
   <td align="right">170kB</td>
   <td><tt>2fee8c19b61e860b0d3059d2ba363a4743acaf12</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/angelfish-21.07.tar.xz">angelfish-21.07</a></td>
   <td align="right">113kB</td>
   <td><tt>148aae9cde262d973b7c34e75793ec86c773a777</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/calindori-21.07.tar.xz">calindori-21.07</a></td>
   <td align="right">203kB</td>
   <td><tt>fe798d74cc1b346572fd19bdaadcde59c0cc3f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/kalk-21.07.tar.xz">kalk-21.07</a></td>
   <td align="right">66kB</td>
   <td><tt>8cc76eb1d62886d0247c3a0f71051aeeb518d581</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/kasts-21.07.tar.xz">kasts-21.07</a></td>
   <td align="right">353kB</td>
   <td><tt>143d8310fdbaea0283f586144ec89e64ab387fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/kclock-21.07.tar.xz">kclock-21.07</a></td>
   <td align="right">680kB</td>
   <td><tt>dc37415fe0b76547803ba5a3e492b9725aef6018</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/keysmith-21.07.tar.xz">keysmith-21.07</a></td>
   <td align="right">148kB</td>
   <td><tt>e322c2bf06b22dc6783652e5e53b2ac8854481c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/koko-21.07.tar.xz">koko-21.07</a></td>
   <td align="right">106kB</td>
   <td><tt>f547a6ba60296a082064a268c3c6fc57d992218b</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/kongress-21.07.tar.xz">kongress-21.07</a></td>
   <td align="right">413kB</td>
   <td><tt>14b562f33e272c19d91c652d1881915029730bb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/krecorder-21.07.tar.xz">krecorder-21.07</a></td>
   <td align="right">131kB</td>
   <td><tt>351993a8870736231eea694db6d6458355343d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/ktrip-21.07.tar.xz">ktrip-21.07</a></td>
   <td align="right">200kB</td>
   <td><tt>c26c79901d11d161c830e95d3d873b4a427266a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/kweather-21.07.tar.xz">kweather-21.07</a></td>
   <td align="right">962kB</td>
   <td><tt>fa855172571c98138c5c3f9f6606258c209e2277</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/plasma-dialer-21.07.tar.xz">plasma-dialer-21.07</a></td>
   <td align="right">73kB</td>
   <td><tt>ed80ceca4690ad42404c414a0360d1462a3eb3f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/plasma-phonebook-21.07.tar.xz">plasma-phonebook-21.07</a></td>
   <td align="right">196kB</td>
   <td><tt>ec13a5d3794aaf44a74634ddde18cdbb6733523e</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/plasma-settings-21.07.tar.xz">plasma-settings-21.07</a></td>
   <td align="right">185kB</td>
   <td><tt>642a41fbe79e73c61839085d4ef55a028a9cc6b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/qmlkonsole-21.07.tar.xz">qmlkonsole-21.07</a></td>
   <td align="right">21kB</td>
   <td><tt>3d3b8eaa6eeef981ec507a264f18aa934551a07c</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/spacebar-21.07.tar.xz">spacebar-21.07</a></td>
   <td align="right">55kB</td>
   <td><tt>8fcf846a5d5eeb69f745eda1dfdff5f2e8ef8a0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/21.07/tokodon-21.07.tar.xz">tokodon-21.07</a></td>
   <td align="right">49kB</td>
   <td><tt>b791e3cd7b94b6833764bf77b736a98c584aeeb7</tt></td>
</tr>

</table>
