{{ define "main" }}
<main class="container" role="main">
  <h1>{{ .Title }}</h1>
  {{ .Content  }}
  <script type="text/javascript" src="/js/jquery/jquery.js"></script>
  <script src="/js/findyourway/handlebars.runtime.js"></script>
  <script src="/js/findyourway/way.js"></script>
  <script src="/js/findyourway/displayRender.js"></script>
  <script src="/js/findyourway/foopy.js"></script>
  <script src="/js/findyourway/l10n.js"></script>
</main>
{{ end }}
